services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=jobs
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - '5433:5432'

  app:
    build: .
    restart: always
    ports:
      - '5000:5000'
      - '5678:5678'
    volumes:
      - .:/app
    depends_on:
      - db
      - selenium
    environment:
      - TZ=Europe/Berlin
      - DATABASE_URL=postgresql://user:password@db:5432/jobs
      - FLASK_APP=src/main.py
      - FLASK_DEBUG=1
      - ENABLE_DEBUGPY=1
    command: python -Xfrozen_modules=off src/main.py

  selenium:
    image: selenium/standalone-chrome:latest
    shm_size: 2g
    restart: always
    ports:
      - '4444:4444'

volumes:
  postgres_data:
